@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url("../css/bootstrap.css");
@import url("../css/fonts.css");


/******* Entire page *******/
/*************************/

* {
  scroll-behavior: smooth;
}

html {
  background-image: url("../media/Piotr\ Gregorczyk\ Photography\ -\ still\ life….jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 5%;
  background-color: transparent;
  border-radius: 1rem;
}


/******* Nav bar *******/
/**********************/

nav {
  background-color: black; 
   transition: background-color 0.2s ease;  
   width: 100%;
}

nav > ul {
  text-align:right;
}

nav > ul > li {
  display:inline-block;
  margin-right: 5%;
  font-size: 20px;
}

nav > ul > li > a {
  text-transform:uppercase;
  text-decoration:none;
  color: rgb(241, 154, 82);
}

 nav > ul > li > a:hover {
  background:transparent;
  color:white;
  padding: 10px;
  text-decoration:none;
  font-size: large;
  
 }  

h1 {
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  color: rgb(204, 167, 185);
}

.p {
  margin-top: 0.5%;
  text-align: center;
  color: rgb(204, 64, 64);
  font-family: 'Damion', cursive;
  font-size: 30px;
}



/******* Landing page *******/
/***************************/


#landing-page{
  font-size: 20px;
  position: fixed;
  height: 100%;
  overflow: scroll;
}

.home{
  margin-top: 25%;
  text-align: center;
  color: black;
  border: 1px transparent;
  padding:2%;
  background-color: rgb(241, 228, 208);
}


/******* Menu *******/
/*******************/

 .card-title{
  text-align: center;
  color: black;
}

.col-md-4{
  border-radius: 10%;
  padding: 5px;
 }

#menu h3 {
  text-align: center;
  font-weight: 600;
  text-decoration:underline;
  text-decoration-style: double;
}
































/* @media screen and (max-width:500px) {
  .p {
    text-align: right;
    display: none;
  }
} */